
.container{
    width: 100vw;
    height: 100vh;
    background-image: url('/book.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 25px;
  }

  
  .child1{
    display: flex;
    column-gap: 20px;
    width: 70%;
    height: fit-content;
    row-gap: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .child2{
    display: grid;
   grid-template-columns: repeat(auto-fill,minmax(200px,1fr 1fr));

  
    align-items: center;
    justify-content: center;
     gap: 1rem;
   
  
  }
  
  .tasks{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }
  
  
  #heading{
      font-size: 50px;
      text-shadow:grey;
      color:rgb(147, 108, 57);
      font-weight: 900;
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
     
  }
  
  @keyframes typing {
      from{width:0}
      to{width:100%}
  }
  
  
  .ongoing{
   
    color:rgb(147, 108, 57);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:400px;
    padding:10px 20px;
  }
  
  
  .completed{
   
    color:  rgb(147, 108, 57);
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width:400px;
    padding:10px 20px;

  }

  
  .completed>li{
    text-decoration: line-through;
    background-color:rgb(183, 149, 105);
    padding:10px 10px 10px 10px;
    border-radius: 10px;
    flex-wrap: wrap;
    color: red;
  
  }
 
  
  #input{
    height: 45px;
    width:300px;
    border: 1px solid white;
    outline: none;
    padding-left: 20px;
    font-size: 20px;
    border-radius: 10px;
    align-items: center;
  }
  
  #btn{
    border: none;
    outline: none;
    height: 40px;
    width: 80px;
    border-radius:10px;
    background-color: rgb(124, 85, 35);
    font-size: 20px;
    color:white;
    cursor: pointer;
    align-items: center;
  }
  
  
  li{
    list-style: none;
    font-size: 20px;
    color:white;
    text-wrap: wrap;
  }
  
  .rendered-tasks{
    display: flex;
    text-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
    background-color:rgb(183, 149, 105);
    padding:10px 10px 10px 10px;
    border-radius: 10px;
  
  }
  .rendered-tasks:hover{
  background-color: rgba(34, 21, 5, 0.763);
  cursor: pointer;

  }

  img{

     height:30px;
     width:25px;
  }
  .undo{
    display: flex;
    column-gap: 10px;
    padding:10px 10px 10px 10px;
    border-radius: 10px;
    background-color:rgb(183, 149, 105);
    cursor: pointer;
   
  }
  .undo>li{
    text-decoration: line-through;
    color: red;
    
  }
  .undo:hover{
    background-color: rgba(34, 21, 5, 0.763);
  }
  

  


